<section style="text-align: center;">
<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

 <div class="field">
    <%= f.label :Foto_Perfil %><br />
    <% if current_user.image.url.blank? %> <%= image_tag "imagens - site/padrao.jpg", class:"foto-padrao" %><% else %> <%= image_tag current_user.image.url(:size), class:'foto-perfil' %><% end %>
    <%= f.file_field :image, class:"upload" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

   <div class="field">
    <%= f.label :Senha_atual %> <i>(Para as alterações serem salvas é preciso a sua senha atual)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :Senha %><em><%= @minimum_password_length %> caracteres no mínimo</em> <i>(Deixe em branco se não quiser modificar)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
    <% end %>
  </div>

  <div class="field">
    <%= f.label :confirmar_senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Voltar", :back %>
</section>