<section style="text-align: center;">
<form>
	<div>
		<h2>Edição de Perfil</h2>
	</div>
	<div class="container-edit-perfil">
			<div>
				<h7>Foto de perfil:</h7>
			</div>
			<div>
				<% if current_user.image.url.blank? %> <%= image_tag "imagens - site/padrao.jpg", class:"foto-padrao" %><% else %> <%= image_tag current_user.image.url(:size), class:'foto-perfil' %><% end %>
			</div>

	<%= form_for(@user, :url => edit__path, html: {multipart: true}) do |f| %>
		<div style="text-align: center;" >
		<%= f.file_field :image, class:"upload" %>
		</div>
		<hr>

		<div class="container-edit-perfil">
			<h5>Nome de usuário atual: <%= current_user.username %></h5>
			<h6>Deseja editar ? <%= f.text_field :username %></h6>
		</div>
		<%= f.submit "Editar", class:"btn btn-secondary"%>
	</div>
	<% end %>
</section>