<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,
    700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.css" rel="stylesheet">
		<title> INTRANET </title>
	</head>

	<body>
		<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top topo2">
      <div class="container">
        <%= image_tag "imagens - site/quanta.gif" , class:"foto" %>
        <div>
        	<a class="navbar-brand bk_transparent" href="#">Intranet</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#"> <%= link_to "Sair", destroy_user_session_path, method: :delete, class:"sair" %> </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

	<nav class="navbar navbar-expand-lg navbar-light fixed-top sub-topo2" >
	  <div class="collapse navbar-collapse" >
	   <ul class="navbar-nav"> 
	    	<li class="nav-item"> 
	    	<a class="nav-link n nav_itens" href="#"> <%= image_tag "imagens - site/house.png" , class:"img_house" %> </a>
	    	</li>
	    </ul>
	    <ul class="navbar-nav"> 
	    	<li class="nav-item"> 
	    	<a class="nav-link n nav_itens" href="meu_perfil">Meu perfil</a>
	    	</li>
	    </ul>
	    <ul class="navbar-nav"> 
	    	<li class="nav-item"> 
	    	<a class="nav-link n nav_itens" href="meus_contatos">Meus contatos</a>
	    	</li>
	    </ul>
	    <ul class="navbar-nav"> 
	    	<li class="nav-item"> 
	    	<a class="nav-link n nav_itens" href="atividas">Minhas atividades</a>
	    	</li>
	    </ul>
	    <ul class="navbar-nav"> 
	    	<li class="nav-item"> 
	    	<a class="nav-link n nav_itens" href="comunidades">Minhas comunidades</a>
	    	</li>
	    </ul>
	    <ul class="navbar-nav"> 
	    	<li class="nav-item"> 
	    	<a class="nav-link n nav_itens" href="foruns">Meus fóruns</a>
	    	</li>
	    </ul>
	    <ul class="navbar-nav"> 
	    	<li class="nav-item"> 
	    	<a class="nav-link n nav_itens" href="calendarios">Meus calendários</a>
	    	</li>
	    </ul>
	  </div>
	  <div class="navbar navbar-header navbar-fixed-top">
	</nav>

	<!-- Corpo do site -->
	<section class="conteudo">
		<article class="column1 toper">
			<ul class="lista1">
				<li class="perfil box">
					<div class="div_container container_perfil">
						<div class="m_perfil div_title">
							<h2>Meu Perfil</h2>
						</div>
						<div class="descrition">
							<div class="descrition_perfil">
								<%= image_tag "imagens - site/foto.jpg" , class:"foto" %>
								<h2 class="nome_user">Emerson Rocha</h2>
								<h3 class="ed_perfil"><a href="#">(Editar)</a></h3>
							</div>
						</div>
					</div>
				</li>

				<li class="contatos box">
					<div class="div_container container_contatos">
						<div class="m_contatos div_title">
							<h2>Meus Contatos</h2>
						</div>

						<div class="view_contatos">
							<div class="row">
							  <div class="col-lg-6">
							    <div class="input-group">
							      <span class="input-group-btn">
							        <button class="btn btn-default ir" type="button">OK</button>
							      </span>
							      <input type="text" class="form-control campo" placeholder="pesquisar...">
							    </div>
							  </div>
							</div>
						</div>
					</div>

				</li>

				<li class="calendario box">
					<div class="div_container container_calendario">
						<div class="m_calendario div_title">
							<h2>Meu Calendário</h2>
						</div>

						<div class="view_calendario">
						</div>
					</div>

				</li>

			</ul>
		</article>

		<article class="column2 toper">
			<ul class="lista2">
				<li class="box">
					<div class="div_container container_atividades">
						<div class="m_atividades div_title">
							<h2>Mural de Atividades</h2>
						</div>
						<div class="view_atividades">
							<% @mural_atividades.each do |mural_atividades| %>
							<div class="post-atividades">
								<p class="postador"><%= current_user.email %></p>
								<p class="postagem"><%= mural_atividades.atividade %></p>

							</div>
							<% end %>
							<div class="i-atividade btn-group " role="group">
								<button type="button" class="btn btn-outline-danger"><h3><%= link_to "Inserir Atividade", mural_atividades_url, class:"inserir" %></h3></button> </div>
						</div>
					</div>
				</li>
				<li class="box">
					<div class="div_container container_m_atividades">
						<div class="m_atividades div_title">
							<h2>Minhas Atividades</h2>
						</div>
						<div class="view_atividades">
							<div class="minhas-atividades">
								<table class="table table-atividades">
								    <thead class="thead-atividades">
								      <tr>
								        <th>Atividade</th>
								        <th>Responsável</th>
								      </tr>
								    </thead>
								    <% @minhas_atividades.each do |minhas_atividade| %>
								    <tbody>
								        <tr>
								          <td class="td-atividade" ><%= minhas_atividade.atividade %></td>
								          <td class="td-responsavel" ><%= minhas_atividade.responsavel %></td>
								        </tr>
								    </tbody>
								    <% end %>
 								</table>

							</div>
						</div>
					</div>
				</li>
				<li class="box">
					<div class="div_container container_noticias">
						<div class="m_noticias div_title">
							<h2>Notícias</h2>
						</div>
						
						<div class="view_noticias">
							<div class="campo_noticias">
								<% @noticia.each do |noticia| %>
								<div class="noticias">
									<div class="div_titulo">
										<p class="titulo_not"><%= noticia.titulo %></p><br>
									</div>

									<div class="div_texto">
										<p class="texto_not"><%= link_to noticia.texto, noticia_path(noticia) %> </p>
									</div> 
								</div>
									<% end %>
									<div class="i-noticia btn-group " role="group">
									<button type="button" class="btn btn-outline-danger"><h3><%= link_to "Inserir Notícia", noticia_url, class:"inserir" %></h3></button>
									</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</article>

		<article class="column3 toper">
			<ul class="lista3">
				<li class="box">
					<div class="div_container container_comunidades">
						<div class="m_comunidades div_title">
							<h2>Minhas Comunidades</h2>
						</div>
						<div class="view_comunidades">
							
						</div>
					</div>
				</li>

				<li class="box">
					<div class="div_container container_comunidades">
						<div class="m_comunidades div_title">
							<h2>  Wikis e Blogs </h2>
						</div>
						<div class="view_comunidades">
							
						</div>
					</div>
				</li>
			</ul>
		</article>
	</section>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

	</body>
</html>