<section style="text-align: center;">
<p id="notice"><%= notice %></p>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <h1 class="page_center">Notícias</h1>

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Título da Notícia</th>
        <th>Texto</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
    <% @noticia.each do |noticium| %>
        <tr>
          <td><%= noticium.titulo %></td>
          <td><%= noticium.texto %></td>
          <td><%= link_to 'Mostrar', noticium, class:"btn btn-primary" %></td>
          <% if can? :create, noticium %>
            <td><%= link_to 'Editar', edit_noticium_path(noticium) %></td>
            <td><%= link_to 'Excluir', noticium, method: :delete, data: { confirm: 'Tem certeza que deseja EXCLUIR?' } %></td>
          <% end %>
     <% end %>
        </tr>
    </tbody>
  </table>

    <% if can? :manager, :all %>
      <button type="button" class="btn btn-outline-primary"> <%= link_to 'Nova Notícia', new_noticium_path,  class:"new_notice" %></button>
    <% end %>
 
 </section>

