<section>
<p id="notice"><%= notice %></p>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">


<h1>Minhas Atividades</h1>

<button class="btn btn-secondary button"><%= link_to 'Inserir Atividade', new_minhas_atividade_path, class:"inserir-minha-atividade" %></button>

<button type="button" class="btn btn-secondary button"><%= link_to 'Voltar ao Site', site_index_path, class:"home" %></button>

<table class="table">
  <thead class="table-inverse">
    <tr>
      <th>Atividade</th>
      <th>Responsável</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @minhas_atividades.each do |minhas_atividade| %>
      <tr>
        <td><%= minhas_atividade.atividade %></td>
        <td><%= minhas_atividade.responsavel %></td>
        <td><%= minhas_atividade.atualizacao %></td>

        <td><%= link_to 'Mostrar', minhas_atividade, class:"btn btn-primary" %></td>
        <td><%= link_to 'Editar', edit_minhas_atividade_path(minhas_atividade), class:"btn btn-success" %></td>
        <td><%= link_to 'Excluir', minhas_atividade, method: :delete, class:"btn btn-danger", data: { confirm: 'Tem certeza que deseja EXCLUIR ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</section>